body {
    font-family: sans-serif;
    flex-direction: column;

    align-items: center;    
}

header {
    margin: 5% auto 20px auto; 
    max-width: 1000px;          
}

.mainContent{
    max-width: 1000px;
    margin: 0 auto 50px auto;
    text-align: justify;
    padding: 20px;
}

.mainContent img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 6px;
}

h1{
    font-size: xx-large;
    font-weight: bolder;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li {
  float: right;
}

ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: larger;
}

nav{
    margin-left: 10%;
    margin-right: 10%;
}


.menu-icon {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.menu1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: 999;
}


.menu1.menu-deployed {
    transform: translateY(0);
}


.close-menu {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
}


.menu-links {
    list-style: none;
    text-align: center;
    padding: 0;
}

.menu-links li {
    margin: 20px 0;
}

.menu-links li a {
    font-size: 32px;
    color: black;
    text-decoration: none;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}

.books {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 6px;
    max-width: 100%;
}

.books img {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid black;
    border-radius: 2px;
}

.books > div{
    text-align: center;
    padding: 10px;
}

.books figure{
    margin: 0px;
}

.im1 { 
     grid-column-start: 1;
     grid-column-end: 4;
     grid-row-start: 1;  
     grid-row-end: 3; 
}
.im2 { 
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}
.im3 { 
    grid-column: 7 / 13; 

    grid-row: 1 / 6;
}

.im4 { 
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3; 
    grid-row-end: 3; 
}
.im5 { 
    grid-column: 4 / 7; 
}
.im6 {
    grid-column: 1 / 7; 
}
.im7 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5; 
    grid-row-end: 5;  
}

.im8 { 
    grid-column: 7 / 13; 
    grid-row: 5/ 7;
}

.im9 { 
    grid-column: 4 / 7; 
    grid-row: 5 / 5; 
}
.im10 { 
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5; 
    grid-row-end: 7;  
}
.im11 { 
    grid-column: 7 / 13;
    grid-row: 4 / 4; 
}
.im12{ 
    grid-column: 1/ 7;
    grid-row: 6 / 7; 
}


@media (max-width: 1000px) {

    .menu-icon {
        display: block;
    }

    .normalMenu{
        display: none;
    }

}


@media (max-width: 800px) {
    .books {
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px;
    }

    .books figure {
        grid-column: auto;
        grid-row: auto;
    }
}

.container {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: gray;
}

.container:hover .overlay {
  opacity: 0.5;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}