nav{
    max-width: 200px;
    width: auto;
    height: auto;
    margin-right: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

li{
    margin-top: 10%;
    border: solid;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  
}

/* Change the link and background color on hover */
li a:hover {
  background-color: #555555;
  color: white;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-box{
    max-width: 700px; 
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

body {
    background-color: bisque;
}

h2{
    color: grey;
}

img{
    border: 2px solid black;
}

.img-container{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    gap: 2%;
}

.img-container img{
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1100px){
    .flex-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .content-box{
        max-width: 700px; 
        width: 100%; 
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }
}

