
.center-header{
    margin: auto;
    width: 50%;
    padding: 20px;
    text-align: center;
    font-weight: 200;
    color: #ffffff;
    font-size: calc(4vw + 10px);
    
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.flex-container img{
  width: 100%;
}

.card {
  flex: 1 1 250px;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 5px;
  overflow: hidden;
  transition: 0.3s ease;
  background-color: antiquewhite;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}

